body{
    background-color: azure;
    color: black;
}
.cabecalho{
   background:linear-gradient(to right, rgb(73, 219, 104) 30%, rgb(69, 134, 207) 30%)
}

.cabecalho img{
    text-align: center;
    width: 40%;
}
.cabecalho h1{
    margin-left: 50%;
}