body{
    background-color: rgb(100, 218, 218);
    color: black;
}
.cabecalho{
   background:linear-gradient(to right, rgb(73, 219, 104) 30%, rgb(69, 134, 207) 30%);
   display: flex;
   flex-direction: column;
   align-items: center;
}

.cabecalho img{
    text-align: center;
    width: 70%;
}
.cabecalho h1{
    margin-left: 30%;
}
.conteudo01{
    display: flex;
    padding: 32px;
    justify-content: center;
    align-items: center;
    background-color: 69, 134, 207;
    font-size: 24px;
}